{% extends 'cms/base.html.twig' %}

{% block body %}
    
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">Cote aprobate</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Numar</th>
            <th>Organizator</th>
            <th>Data inceput</th>
            <th>Tip</th>
            <th>Activa</th>
            <th>Actiuni</th>
          </tr>
        </thead>
        <tbody>
          {% for autorizatie in listaAutorizatii %}
            <tr>
              <td>{{ autorizatie.numar }}</td>
              <td>{{ autorizatie.organizator.fullname }}</td>
              <td>{{ autorizatie.dataInceput }}</td>
              <td>{{ autorizatie.tipul }}</td>
              <td>{{ autorizatie.activa }}</td>
              <td> <a href="/cms/af/autorizatii/{{ autorizatie.id }}">Detalii</a> </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}